<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask app</title>
    <link rel ="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <form class ="grid" action="/result" method="post">
        <center>
            {% if email %}
            <h3 style="color:blue">{{email}}</h3>

            {%endif%}
        </center>
        <label for ="name">Enter your name</label>
        <input type="text" name="name" id="name">
        <label for ="email">Enter your email</label>
        <input type="text" name="email" id="email">
        <center>
            <input type="submit" class="fsubmit">

        </center>
        <h3>Points to remember to mark attendance correctly</h3>
        <ul>            
            <li>You have to be connected to scaler wifi.</li>
            <li>You have to be at Macro campus.</li>
            <li>Submit within the given time.</li>
            <li>To Quit, please press  <b>CTRL+C</b> in shell.</li>
            <a href="https://github.com/ayaankhan28/hackathon"><li >Facing any issue?</li></a>
        </ul>

    </form>
    
</body>
</html>